# App
NODE_ENV=development
PORT=3003
CLIENT_URL=http://localhost:5173

# MongoDB
MONGODB_URI=mongodb://mongodb:27017/gameplatform_games

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_ACCESS_SECRET=your-super-secret-access-key-min-32-chars

# Service URLs
USER_SERVICE_URL=http://user-service:8000
RATING_SERVICE_URL=http://rating-service:8001
