DJANGO_SECRET_KEY=puzzle-dev-secret-key-change-in-prod
DJANGO_DEBUG=True
JWT_ACCESS_SECRET=dev-jwt-secret
ALLOWED_HOSTS=*
MYSQL_DATABASE=gameplatform_puzzles
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3315
REDIS_URL=redis://localhost:6379/11
CELERY_BROKER_URL=redis://localhost:6379/11
CELERY_RESULT_BACKEND=redis://localhost:6379/11
