DJANGO_SECRET_KEY=achievement-dev-secret-key-change-in-prod
DJANGO_DEBUG=True
JWT_ACCESS_SECRET=dev-jwt-secret
ALLOWED_HOSTS=*
MYSQL_DATABASE=gameplatform_achievements
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3316
REDIS_URL=redis://localhost:6379/12
CELERY_BROKER_URL=redis://localhost:6379/12
CELERY_RESULT_BACKEND=redis://localhost:6379/12