# Django
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL
DATABASE_URL=mysql://root:rootpassword@localhost:3308/gameplatform_users
DB_NAME=gameplatform_users
DB_USER=root
DB_PASSWORD=rootpassword
DB_HOST=localhost
DB_PORT=3308

# Redis
REDIS_URL=redis://localhost:6379/1

# JWT (must match auth-service)
JWT_ACCESS_SECRET=your-super-secret-access-key-min-32-chars

# Celery
CELERY_BROKER_URL=redis://localhost:6379/2

# Service URLs
AUTH_SERVICE_URL=http://auth-service:3001

# Django CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
USE_S3=False
